.wrapper {
  width: 70%;
  margin: 1rem auto 1rem;
}
.form {
  width: 100%;
  display: flex;
}
.searchInput {
  width: 100%;
  border: 3px solid #525256;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 15px 0 0 15px;
  outline: none;
}
.searchButton {
  padding-top: 4px;
  width: 40px;
  height: 36px;
  border: 1px solid #525256;
  background: #525256;
  text-align: center;
  color: #fff;
  border-radius: 0 15px 15px 0;
  cursor: pointer;
}
