content {
  height: 100%;
}
.cardContainer {
  background-color: rgb(206, 219, 228);
  width: 175px;
  height: 300px;
}
.title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.focus {
  background-color: transparent;
}
